# Python lists and tuples

## Lists: simple, nested, empty

Lists are collections of any number (0, 1, 2, ...) of elements (possibly of different types).  
In a list, each element has its position. The index numbers the positions. Note, that the first position has index zero.  
After a list is created it can be changed - elements can be added, removed or modified.

Let's start with a list of elements of the same type:

In [ ]:
dailyKCal = [ 2330, 1990, 2150, 2290, 1920, 2370, 2050 ]
dailyKCal

In [ ]:
days = [ "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun" ]
days

In [ ]:
goodMoods = [ True, True, False, True, True, False, True ]
goodMoods

The `type(...)` function can be used to check whether an object is of type `list`:

In [ ]:
type( goodMoods )

In [ ]:
type( [ 2330, 1990, 2150 ] )

A list may also contain elements of different types:

In [ ]:
dataDay1 = [ 2330, "Mon", True ]

In particular, lists can be nested. Here are two examples of lists containing other lists:

In [ ]:
dataByDays = [ [ 2330, "Mon", True ], [ 1990, "Tue", True ], [ 2150, "Wed", False ] ]
dataByDays

In [ ]:
dataByVars = [ dailyKCal, days, goodMoods ]
dataByVars

Note, a list can also be empty. A new empty list can be created as follows:

In [ ]:
[]

## Tuples

Tuples are also collections of any number (0, 1, 2, ...) of elements (possibly of different types).  
In a tuple, each element has its position. The index numbers the positions. Note, that the first position has index zero.  
**Tuples are immutable** - once a tuple is created, it is not possible to change the elements.

Tupes are created with a syntax similar to lists. For tuples use `(...)` instead of `[...]`:

In [ ]:
dailyKCal = ( 2330, 1990, 2150, 2290, 1920, 2370, 2050 )
dailyKCal

In [ ]:
type( dailyKCal )

Because `(` and `)` are also used in arithmetics, a special notation (with an extra `,`) is needed to create a tuple with exactly one element:

In [ ]:
singleDayTuple = ( "Mon", )
type( singleDayTuple )

Compare:

In [ ]:
type( ( 1 ) )

In [ ]:
type( ( 1, ) )

An empty tuple is `()`.

Note the assignment of a tuple to multiple variables:

In [ ]:
x, y, z = ( "a", True, 0 )

## Concatenation are repetition

Let's assume that each list below describes some preparation steps:

In [ ]:
americano = [ "espresso", "hot water" ]
caffe_latte = [ "espresso", "steamed milk" ]
latte_macchiato = [ "steamed milk", "espresso" ]
apple_pie_set = [ "apple pie", "whipped cream" ]

Then, steps for a larger order can be combined using list concatentation (`+`) and list repetition (`*`) operators:

In [ ]:
order_steps = 2 * americano + caffe_latte + 3 * apple_pie_set + latte_macchiato
order_steps

Concatenation and repetition works also for tuples.
Concatenating a tuple with a list leads to an error.

In [ ]:
# ( 1, ) + [ 2 ]     # Leads to TypeError

## Access/change of a single element

Let's define a list (or a tuple):

In [ ]:
days = [ "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun" ]
days

The first element of a list/tuple can be accessed at index zero:

In [ ]:
days[0]

To calculate the total number of elements (length) in a list/tuple use `len(...)`:

In [ ]:
len( days )

The last element of a list/tuple can be accessed as follows:

In [ ]:
days[ len(days)-1 ]

Negative index allows accessing elements relative to the end. Another way to access the last element is:

In [ ]:
days[ -1 ]

Usage of an index beyond the range of elements present in a list/tuple raises an error exception:

In [ ]:
# days[7]                # IndexError: tuple index out of range 
                         # valid indexes are 0,1,2,3,4,5,6

In lists the elements can be modified:

In [ ]:
days = [ "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun" ]
days[0] = "MONDAY"       # works fine, days is a list
days

But the tuples are immutable - the following code raises an error exception:

In [ ]:
days = ( "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun" )
# days[0] = "MONDAY"     # TypeError: 'tuple' object does not support item assignment

## Access/change of multiple elements

The slice operator `[n:m]` applied to a list/tuple gets its elements from the positions `n`...`m-1` and creates a new list/tuple containing only them:

In [ ]:
# ----- the following few code cells work both for lists and tuples -----
# days = ( "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun" )
days = [ "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun" ]
days[2:5]                # note: Elements with indexes 2,3 and 4 (but not 5).
                         #       "Mon" has index 0.

`[:m]` denotes indexes from the beginning (`0`) till `m-1`:

In [ ]:
workingDays = days[:5]
workingDays

Similarly, `[n:]` denotes indexes from `n` till the last:

In [ ]:
weekendDays = days[5:]
weekendDays

Consequently, a slice `[:]` makes a separate copy of the whole list:

In [ ]:
copiedDays = days[:]

Slicing `[n:m:step]` can take an extra `step` argument:

In [ ]:
days[1:6:2]

The `step` argument can be negative:

In [ ]:
days[6:1:-2]

In lists, several elements can be modified as follows:

In [ ]:
# ----- modification here, so it can't be a tuple -----
days = [ "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun" ]
days[2:3] = [ "TUESDAY", "WEDNESDAY" ]
days

Note, that elements can be not only modified but also added/removed (i.e. the total length of the list changes):

In [ ]:
# ----- modification here, so it can't be a tuple -----
days = [ "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun" ]
days[2:3] = [ "TUESDAY", "moon-eclipse-night!!!", "WEDNESDAY" ]
days

## Shallow and deeper copying

Study the following example:

In [3]:
v = [ 1, 2, 3 ]   # []      allocates a new list
                  # 1,2,3   fills the list with 1, 2, 3
                  # v =     makes v point to the list
w = v             # w = v   makes w point to the same thing as v
v[0] = 100        #         changes the element of the list
v

[100, 2, 3]

Because both `v` and `w` point to the same list, `w` has been also changed:

In [4]:
w

[100, 2, 3]

When the above behaviour is not desired, a deeper `copy()` needs to be enforced:

In [5]:
v = [ 1, 2, 3 ]
w = v.copy()      # a new list is allocated
                  # the elements of v are appended to the new list
v[0] = 100
v

[100, 2, 3]

Now, the change of `v` has not affected `w`:

In [6]:
w

[1, 2, 3]

## List comprehensions

Let's introduce a very powerful mechanisms allowing to perform operations on all elements of lists, tuples (or other iterable objects).

The following list comprehension code:
- produces a list: it is a list comprehension because of surrounding brackets `[` ... `]`
- iterates through `someNums` (whatever object which can be iterated over)
- in each iteration `x` is set to a next element value (`for x in`)
- the result of expression `x**2` is stored to the output list

In [ ]:
someNums = [ 1, -2, 3, -4, 5 ]        # an iterable object
[x**2 for x in someNums]              # a list comprehension

Here, each iteration produces a tuple with two elements `(x, x**2)`. So the result is a list of tuples:

In [ ]:
someNums = [ 1, -2, 3, -4, 5 ]        # an iterable object
[(x,x**2) for x in someNums]          # each element is a tuple

Note, that the list comprehension notation also allows for filtering (here: `x<0`):

In [ ]:
someNums = [ 1, -2, 3, -4, 5 ]        # an iterable object
[x for x in someNums if x<0]          # only negative elements are processed

## Self-study tasks

### Understand errors

Try the following cells to get familiar with error messages.  
Explain the errors.

In [ ]:
nums = ( 1, 2, 3 )
#nums[1] = 22              # what's wrong here?

In [ ]:
nums = [ 1, 2, 3 ]
#nums[3] = 4               # what's wrong here?

In [ ]:
txt = "Statistics"
#txt[0] = "s"              # what's wrong here?

### Understand difference

Why `a` differs from `b`?

In [1]:
v = [ 1, 2, 3 ]
a = v
v = [ 4, 5, 6 ]
a

[1, 2, 3]

In [2]:
v = [ 1, 2, 3 ]
b = v
v[:] = [ 4, 5, 6 ]
b

[4, 5, 6]

### Changing (or not) lists

Let's assume that a vector `v` with several random numbers is given (an example below).  
Check Python `list` manuals to find programmatic ways in place marked with `...` to produce the various goals requested below.

In [13]:
v = [ 5, 2, 1, 4, 3 ]
# ...
# Here v should be sorted in ascending order [ 1, 2, 3, 4, 5 ]
v.sort()
v

[1, 2, 3, 4, 5]

In [15]:
v = [ 5, 2, 1, 4, 3 ]
# ...
# Here v should be sorted in descending order [ 5, 4, 3, 2, 1 ]
v.sort(reverse=True)
v

[5, 4, 3, 2, 1]

In [18]:
v = [ 5, 2, 1, 4, 3 ]
w = v[:]
# ...
# Here v should be sorted [ 1, 2, 3, 4, 5 ] but w should still be [ 5, 2, 1, 4, 3 ]
v.sort()
print('v = ', v)
print('w = ', w)

v =  [1, 2, 3, 4, 5]
w =  [5, 2, 1, 4, 3]

In [19]:
v = [ 5, 2, 1, 4, 3 ]
# ...
# Here v should be reversed [ 3, 4, 1, 2, 5 ]
v[::-1]

[3, 4, 1, 2, 5]

In [20]:
v = [ 5, 2, 1, 4, 3 ]
w = v[:]
# ...
# Here v should be reversed [ 3, 4, 1, 2, 5 ] but w should still be [ 5, 2, 1, 4, 3 ]
v = v[::-1]
print('v = ', v)
print('w = ', w)

v =  [3, 4, 1, 2, 5]
w =  [5, 2, 1, 4, 3]

In [23]:
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
# ...
# Here, the third element should be deleted from v: [ "eeeee", "bb", "dddd", "ccc", "bb" ]
v.pop(2)
v

['eeeee', 'bb', 'dddd', 'ccc', 'bb']

In [25]:
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
# ...
# Here, the first element with value "bb" should be removed from v: [ "eeeee", "a", "dddd", "ccc", "bb" ]
# Any ideas how to filter out all "bb" elements?
# v.remove('bb')
v = [x for x in v if x != 'bb']
v

['eeeee', 'a', 'dddd', 'ccc']

In [26]:
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
# ...
# Insert element "F" to v at index 2
v.insert(2, 'F')
v

['eeeee', 'bb', 'F', 'a', 'dddd', 'ccc', 'bb']

In [31]:
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
w = [ "ffffff", "g", "ffffff" ]
# ...
# Insert ("slice in") elements of w to v at index 2 (so, that v gets length 9 and v[2:5] has elements from w).
v = v[:2] + w + v[2:]
v

['eeeee', 'bb', 'ffffff', 'g', 'ffffff', 'a', 'dddd', 'ccc', 'bb']

In [32]:
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
# ...
# Here, a single new element "F" should be *appended* to the end of the list
v.append('F')
v

['eeeee', 'bb', 'a', 'dddd', 'ccc', 'bb', 'F']

In [33]:
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
w = [ "ffffff", "g", "ffffff" ]
# ...
# Extend the list by append elements of w to v at the end of v. (so, length of v should be 9!)
# What goes wrong with `append(w)` here?
v = v + w
v

['eeeee', 'bb', 'a', 'dddd', 'ccc', 'bb', 'ffffff', 'g', 'ffffff']

### Checking membership

In [34]:
v = [ "ababab", "baaab", "bbbaa", "aabba", "aaaab", "abbaa", "aabbb", "abaaa", "aaaaa", "bbbab", "bbbqb", "aaaqb", "bbbbq" ]
w = "bbbab"
# ...
# How to programmatically find whether the value of w is *in* the iterable list v?
# The result should be True or False
w in v

True

In [35]:
v = [ "ababab", "baaab", "bbbaa", "aabba", "aaaab", "abbaa", "aabbb", "abaaa", "aaaaa", "bbbab", "bbbqb", "aaaqb", "bbbbq" ]
w = "abaab"
# ...
# How to programmatically find whether the value of w is *not in* the iterable list v?
# The result should be True or False
w not in v

True

### Understand conversions

In [ ]:
lst = [1,2,3,"x","y","z"]
tuple( lst )              # the argument can be any object which can be iterated over

In [ ]:
tpl = (1,2,3,"x","y","z")
list( tpl )               # the argument can be any object which can be iterated over

In [ ]:
tuple( "Statistics" )     # "Statistics" can be iterated over

In [ ]:
list( 'Data Science' )

### Practice comprehensions and try a generator

Let's write a simple comprehension first:

In [1]:
xs = [ 0, 1, 2, 3, 4, 5 ]
# ys = [ ... ]            # write a comprehension to transform 
                          #   elements of xs according to formula:
                          #   y = x^2 + x + 1
ys = [x**2 + x + 1 for x in xs]
ys

[1, 3, 7, 13, 21, 31]

Next, read about `range(...)` and use it to rewrite the definition of `xs` in the above code.  
Check the type of `xs`. Note, that `xs` created by `range(...)` is not a list but the comprehesion still works (once).  
Can you explain the mechanism (keyword: iterable)?

In [4]:
# xs = range( ... )      # it should correspond to these numbers [ 0, 1, 2, 3, 4, 5 ]
# ys = [ ... ]           # as before: y = x^2 + x + 1
xs = range(6)
list(xs)
type(xs)
# range() creates a range object that you can iterate over.

range

Now, write a comprehension to remove all elements equal to `toRemove` from `v`:

In [5]:
toRemove = "bb"
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
# w = [ ... for ... if ... ]     # w should not have elements equal the value of toRemove
w = [x for x in v if x != toRemove]
w

['eeeee', 'a', 'dddd', 'ccc']

Next, generalize the last comprehension to handle a situation when `toRemove` contains more than one element.  
Read about the `in` operator for lists and about `not` logical operator.

In [6]:
toRemove = [ "bb", "a" ]
v = [ "eeeee", "bb", "a", "dddd", "ccc", "bb" ]
# w = [ ... for ... if ... ]     # w should *not* have elements *in* toRemove list
w = [x for x in v if x not in toRemove]
w

['eeeee', 'dddd', 'ccc']

In [7]:
v = [ "ababab", "baaab", "bbbaa", "aabba", "aaaab", "abbaa", "aabbb", "abaaa", "aaaaa", "bbbab", "bbbqb", "aaaqb", "bbbbq" ]
w = [ "aaaqb", "abbaa", "ababab" ]
# ...
# Write a statement checking whether *all* elements of w are *in* v.
# The result should be a single True or False value.
z = [x in v for x in w]
not(False in z)

True

In [9]:
v = [ "ababab", "baaab", "bbbaa", "aabba", "aaaab", "abbaa", "aabbb", "abaaa", "aaaaa", "bbbab", "bbbqb", "aaaqb", "bbbbq" ]
w = [ "abaaa", "bbbab", "qbbbq" ]
# ...
# Write a statement checking whether *any* element of w is *not in* v.
# The result should be a single True or False value.
# any(w) not in v
z = [x in v for x in w]
False in z

True

### Comprehensions with tuple elements

`zip(...)` can be used to build tuples out of elements of two iterables. Tuples of elements at the same positions can be iterated over. It also works for more than two lists.

In [14]:
heights = [ 173, 179, 167, 195, 173, 184, 162, 169 ]  # 8 persons
weights = [ 57, 58, 62, 84, 64, 74, 57, 44 ]          # same 8 persons, same order
zip( heights, weights )                # this is a generator of ( height, weight ) tuples
list( zip( heights, weights ) )        # when converted to list you see the tuples
# ...
# Write a statement generating list of BMIs for the 8 persons.
# Hint: [ ... for h, v in ... ]
bmis = [round(w/(h/100)**2, 1) for h, w in zip(heights, weights)]
bmis

[19.0, 18.1, 22.2, 22.1, 21.4, 21.9, 21.7, 15.4]

`enumerate(...)` adds information at which index an element is:

In [15]:
heights = [ 173, 179, 167, 195, 173, 184, 162, 169 ]  # 8 persons
enumerate( heights )                   # this is a generator of ( index, element ) tuple pairs
tuple( enumerate( heights ) )          # do you understand this result?

((0, 173),
 (1, 179),
 (2, 167),
 (3, 195),
 (4, 173),
 (5, 184),
 (6, 162),
 (7, 169))

### Indexing nested list

Let's consider the following nested list:

In [16]:
nestedList = [ "a", [ "ba", [ "bba", "bbb" ], "bc", [ "bda", "bdb" ], "be" ], "c", [ [ "daa", "dab" ] ] ]
nestedList

['a',
 ['ba', ['bba', 'bbb'], 'bc', ['bda', 'bdb'], 'be'],
 'c',
 [['daa', 'dab']]]

Without running the code do you know what will be the result of each of the following indexing?

In [ ]:
# nestedList[2] : "c"
# nestedList[1:2] : [ "ba", [ "bba", "bbb" ], "bc", [ "bda", "bdb" ], "be" ]
# nestedList[1][1] : [ "bba", "bbb" ]
# nestedList[3][0][1] : "dab"
# nestedList[2][0] : "c"
# nestedList[3][0][0][2] : "a"
# nestedList[3][0][0][2::-1] : "aad", it prints the string backwards starting from index 2.